*{
    margin: 0px;
    font-family: sans-serif;
}
.header{
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;

}
.nav-title{
    font-weight: 600px;
    font-size: 30px;
    margin-top: 50px;
}
nav ul{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
nav li{
    list-style: none;
    margin: 0px 50px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary{
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 50px;
}
  
.banner{
    padding: 80px 350px;
    align-items: center;
}
.sentence{
    font-weight: 700;
    font-size: 64px;
    text-align: center;

}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
}
.banner-img{
    width: 75%;
    height: 500px;
    margin-left: 200px;
    margin-bottom: 30px;
}
.second-page{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
}
span{
    margin: 15px;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.sp-sentence{
    margin-top: 200px;
    margin-bottom: 25px;
}
.text-a{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.text-b{
    font-weight: 500;
    font-size: 45px;
    color: #131313;
}
.text-c{
    font-weight: 500;
    font-size: 45px;
    color: #FF900E;

}
.sp-banner-description{
    width: 537px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}
.sp-container{

}
.sp-btn-primary{
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}