*{
    margin: 0px;
    font-family: sans-serif;
}
.header{
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;

}
.nav-title{
    font-weight: 600px;
    font-size: 30px;
    margin-top: 50px;
}
nav ul{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
nav li{
    list-style: none;
    margin: 0px 50px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-primary{
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 50px;
}
  
.banner{
    padding: 80px 350px;
    align-items: center;
}
.sentence{
    font-weight: 700;
    font-size: 64px;
    text-align: center;

}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
}
.banner-img{
    width: 75%;
    height: 500px;
    margin-left: 200px;
    margin-bottom: 30px;
}
.second-page{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
}
span{
    margin: 15px;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container1{
    display: flex;
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 65px;
    gap: 45px;
}
.container1-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 35px;
}
.container1-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}
.container2{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}
.container2-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}
.container2-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.sp1-btn-primary{
    background: #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 100px;
    border: 0px;
    position: relative;
    margin-left: 550px;
}
.text{
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
}
.text1{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;

}

.image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.sp-sentence{
    margin-top: 200px;
    margin-bottom: 25px;
}
.text-a{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.text-b{
    font-weight: 500;
    font-size: 45px;
    color: #131313;
}
.text-c{
    font-weight: 500;
    font-size: 45px;
    color: #FF900E;

}
.sp-banner-description{
    width: 537px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}
.sp-btn-primary{
    background: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border: 0px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.box-item{
    display: flex;
    gap: 125px;
    margin-left: 150px;
}
.package{
    background: #FFFFFF;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 30px;
    align-items: center;
    text-align: center;
    margin-bottom: 130px;
}
.number{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.section-title{
    margin: auto;
    overflow: hidden;
    width: 80%;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;

}
.section-description{
    margin: auto;
    overflow: hidden;
    width: 80%;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    align-items: left;
    margin-bottom: 65px;
}
.company{
    text-align: center;
}
.company-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 20px;

}
.company-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 450px;
}
.company-logo{
    display: flex;
    gap: 45px;
    margin-left: 230px;
    margin-bottom: 130px;
    filter: grayscale(100%);
}
.footer {
    background: #FFF4E7;;
    border: 0;
    border-radius: 5px;
    padding: 30px;
    width: 80%;
    margin-left: 130px;
    align-items: center;
    text-align: center;
    margin-bottom: 130px;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}